root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ktlint_code_style = official
indent_style = space
indent_size = 2
ktlint_standard = enabled

